<nav class="navbar fixed-top navbar-expand-lg med-custom-nav">
    <div class="container">
        <a class="navbar-brand common-white-color med-logo-a" href="/">
            <img src="./resources/images/welfareBD-logo-3.png" alt="WelfareBD logo">
        </a>
        <button class="navbar-toggler no-active-focus" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-sharp fa-regular fa-bars common-white-color"></i>
            
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 con-nav-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="icon-c med-news"></div>
                            <span>Top news</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="icon-c med-jobs"></div>
                            <span>Jobs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="icon-c med-heartbeat"></div>
                            <span>Healthy living</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="icon-c med-doctor-nav"></div>
                            <span>Find doctors</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="icon-c med-navigate-to"></div>
                            <span>Navigate to</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" id="med-nav-custom-drd">
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                                    Nearest hospital
                                    <p class="med-category-des">Find your nearest hospital</p>
                                </a>
                            </li>
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                    Medical college / hospital
                                    <p class="med-category-des">List of medical colleges / hospital in Bangladesh</p>
                                </a>
                            </li>
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                    Nursing college / institute
                                    <p class="med-category-des">List of Nursing Institutes / Colleges in Bangladesh</p>
                                </a>
                            </li>
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    Pharmaceutical company
                                    <p class="med-category-des">List of pharmaceutical company in Bangladesh</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="icon-c med-user-write-nav"></div>
                            <span>Write here</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" id="med-nav-custom-drd">
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                                    Submit your post
                                    <p class="med-category-des">Write and it will be published in WelfareBD</p>
                                </a>
                            </li>
                            <li><a href="" class="dropdown-item">
                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                    Post your doctor profile
                                    <p class="med-category-des">Post your doctor profile join thousand of doctors</p>
                                </a>
                            </li>
                        </ul>
                    </li>



                </ul>
            </div>


        </div>
    </div>
</nav>